<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="lost content">
      <h2>404 Error. Requested content cannot be found</h2>
    </div>
  </body>
</html>
